html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden !important;
}

#preview-container .c-video > div {
  border-radius: 20px !important;
  overflow: hidden !important;
}

#preview-container .hide-preview {
  display: none !important;
}

#previewer .c-row .c-column > .inner {
  padding: 5px 5px !important;
}

#previewer .swiper-row > .inner {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

div #previewer .swiper-row > .inner .c-column {
  flex: 1 0 33% !important;
  max-width: 33% !important;
}

.mobile-preview #previewer .swiper-row > .inner .c-column {
  flex: 1 0 100% !important;
  max-width: 100% !important;
}

.hl-builder-main-wrapper #hl_main_popup .swiper-row > .inner {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.hl-builder-main-wrapper #hl_main_popup .swiper-row > .inner .c-column {
  flex: 1 0 33% !important;
  max-width: 33% !important;
}

.hl-builder-main-wrapper.--mobile
  #hl_main_popup
  .swiper-row
  > .inner
  .c-column {
  flex: 1 0 100% !important;
  max-width: 100% !important;
}

/* Start Button */
.btn-element {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  outline: none !important;
  cursor: pointer !important;
  min-height: 54px !important;
}

.btn-element .main-heading-group {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-element .main-heading-group .main-heading-button {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;
  z-index: 1 !important;
}

.btn-element .main-heading-group .button-icon-start {
  display: none !important;
}

.btn-element-icon .main-heading-group .button-icon-start {
  display: inline-block !important;
  margin-right: 10px !important;
}

.btn-element .main-heading-group .main-heading-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  line-height: 1 !important;
}

.btn-element .button-icon-end {
  display: none !important;
}

/* End Button */

/* Start Max Width */

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
  margin-right: 0px !important;
}

.mr-a {
  margin-right: auto !important;
  margin-left: 0px !important;
}

.max-w-240 {
  max-width: 240px !important;
}

.max-w-350 {
  max-width: 350px !important;
}

.max-w-700 {
  max-width: 700px !important;
}

.max-w-750 {
  max-width: 750px !important;
}

.max-w-850 {
  max-width: 850px !important;
}

.max-w-920 {
  max-width: 920px !important;
}

/* ==== Container CSS ==== */

body .c-section > .inner {
  max-width: 1564px !important;
  padding-left: 32px !important;
  padding-right: 32px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* ==== Header Section ==== */

body .header-sec .mega-menu-container {
  z-index: 9999 !important;
}

#preview-container .header-sec .c-nav-menu-v2 .nav-menu-desktop li {
  height: auto !important;
}

/* ==== Hero Section ===== */
.hero-sec {
  min-height: calc(100vh - 155px) !important;
  display: flex !important;
  align-items: center !important;
  background-image: linear-gradient(
      rgba(0, 59, 109, 0.85),
      rgba(0, 59, 109, 0.85)
    ),
    url("https://storage.googleapis.com/msgsndr/3A1VhWPzQlr159KtrLB4/media/681354ec4d0d3d5c42907d80.png") !important;
  background-size: cover !important;
  background-position: center center !important;
}

/* ==== Care Section ==== */
.care-sec .c-image-feature .img-feature-container {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.care-sec .c-image-feature .img-feature-container .img-container {
  flex: 1 0 24px !important;
  max-width: 24px !important;
  margin-right: 10px !important;
  padding: 0px !important;
}

.care-sec .c-image-feature .img-feature-container .txt-container {
  width: auto !important;
  padding: 0px !important;
}

.care-sec .c-image-feature .img-feature-container .txt-container .featureText {
  display: none !important;
}

/* ==== Expertise Sec ==== */

.expertise-sec .c-row {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  padding: 24px !important;
  border-radius: 8px !important;
}

.expertise-sec .c-image-feature .img-feature-container {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.expertise-sec .c-image-feature .img-feature-container .img-container {
  flex: 1 0 54px !important;
  max-width: 54px !important;
  margin-right: 20px !important;
  padding: 0px !important;
}

.expertise-sec .c-image-feature .img-feature-container .img-container > div {
  width: 54px !important;
  height: 54px !important;
  border-radius: 50% !important;
  background-color: #e5ebf0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.expertise-sec .c-image-feature .img-feature-container .img-container img {
  max-width: 28px !important;
}

.expertise-sec .c-image-feature .img-feature-container .txt-container {
  width: auto !important;
  padding: 0px !important;
}

/* ==== Services Section ==== */

#preview-container .services-sec .card-row .c-column .inner {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  border-radius: 12px !important;
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

#preview-container .services-sec .card-row .c-column .inner:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  transform: translateY(-6px) !important;
}

#preview-container .services-sec .card-row .c-column .inner {
  padding: 0px !important;
  overflow: hidden !important;
}

#preview-container .services-sec .card-row .c-column .inner .c-image {
  max-height: 180px !important;
  position: relative !important;
}

#preview-container .services-sec .card-row .c-column .inner .c-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to top, rgb(0 0 0 / 0.5), transparent);
}

#preview-container .services-sec .card-row .c-column .inner .c-image div {
  width: 100% !important;
}

#preview-container .services-sec .card-row .c-column .inner .c-image img {
  width: 100% !important;
  object-fit: cover !important;
  max-height: 180px !important;
}

#preview-container .services-sec .card-row .c-column .inner > div:nth-child(2) {
  padding-left: 27px !important;
}

#preview-container .services-sec .card-row .c-column .inner > div:nth-child(3),
#preview-container .services-sec .card-row .c-column .inner > div:nth-child(4),
#preview-container .services-sec .card-row .c-column .inner > div:nth-child(5) {
  padding: 0px 27px !important;
}

#preview-container .services-sec .card-row .c-column .inner > div:nth-child(5) {
  margin-bottom: 40px !important;
}

/* ==== Why Section ==== */
.why-sec .card-row .c-column {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  border-radius: 12px !important;
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

.why-sec .card-row .c-column:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  transform: translateY(-6px) !important;
  background-color: #fff !important;
}

/* ==== Team Section ==== */
#preview-container .team-sec .card-row .c-column .inner {
  padding: 0px !important;
  overflow: hidden !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  border-radius: 12px !important;
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
    background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

#preview-container .team-sec .card-row .c-column .inner:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  transform: translateY(-4px) !important;
}

#preview-container .team-sec .card-row .c-column .inner .c-image {
  max-height: 390px !important;
}

#preview-container .team-sec .card-row .c-column .inner .c-image div {
  width: 100% !important;
}

#preview-container .team-sec .card-row .c-column .inner .c-image img {
  width: 100% !important;
  object-fit: cover !important;
  max-height: 390px !important;
}

#preview-container .team-sec .card-row .c-column .inner > div:nth-child(2) {
  margin-top: 30px !important;
}

#preview-container .team-sec .card-row .c-column .inner > div:nth-child(2),
#preview-container .team-sec .card-row .c-column .inner > div:nth-child(3),
#preview-container .team-sec .card-row .c-column .inner > div:nth-child(4),
#preview-container .team-sec .card-row .c-column .inner > div:nth-child(5) {
  padding: 0px 27px !important;
}

#preview-container .team-sec .card-row .c-column .inner > div:nth-child(5) {
  margin-bottom: 30px !important;
}

#preview-container
  .team-sec
  .card-row
  .c-paragraph
  .text-output
  > p:last-child {
  margin-top: 16px !important;
  color: #4a8bbd !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  cursor: pointer !important;
}

/* ==== Reviews Section ==== */
.reviews-sec .swiper-row {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.reviews-sec .swiper-wrapper {
  align-items: stretch !important;
}

.reviews-sec .swiper-slide {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  padding: 27px !important;
  border-radius: 12px !important;
  height: auto !important;
}

.reviews-sec .swiper-slide > div {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

.reviews-sec .swiper-slide > div > div:nth-child(2) {
  margin-bottom: 20px !important;
}

.reviews-sec .swiper-slide .c-divider {
  margin-top: auto !important;
}

.reviews-sec .swiper-button-next {
  right: 0px !important;
}

.reviews-sec .swiper-button-prev {
  left: 0px !important;
}

.reviews-sec .swiper-button-next,
.reviews-sec .swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  background-color: #fff !important;
}

.reviews-sec .swiper-button-next::after,
.reviews-sec .swiper-button-prev::after {
  font-size: 22px !important;
  color: rgb(0 59 109) !important;
  cursor: pointer;
}

.reviews-sec .c-image-feature .img-feature-container {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.reviews-sec .c-image-feature .img-feature-container .img-container {
  flex: 1 0 54px !important;
  max-width: 54px !important;
  margin-right: 10px !important;
  padding: 0px !important;
}

.reviews-sec .c-image-feature .img-feature-container .txt-container {
  width: 100% !important;
  padding: 0px !important;
}

.reviews-sec .swiper-slide .c-image-feature .img-container > div {
  width: 54px !important;
  height: 54px !important;
  border-radius: 50% !important;
  background-color: rgb(0, 59, 109) !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #fff !important;
}

.reviews-sec .swiper-slide .c-image-feature .img-container > div img {
  display: none !important;
}

.reviews-sec
  .c-image-feature
  .img-feature-container
  .txt-container
  .featureHeadline {
  padding-bottom: 20px !important;
  background-image: url("https://storage.googleapis.com/msgsndr/3A1VhWPzQlr159KtrLB4/media/681a6d582ef99b0de243b8f5.webp") !important;
  background-position: left bottom !important;
  background-repeat: no-repeat !important;
  background-size: 108px !important;
}

.reviews-sec
  .c-image-feature
  .img-feature-container
  .txt-container
  .featureText {
  display: none !important;
}

/* ==== Footer Section ==== */
.footer-sec .office-hours .c-paragraph .text-output > div {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  max-width: 250px !important;
}

#preview-container .footer-sec .c-map img {
  border-radius: 12px !important;
  overflow: hidden !important;
}

/* ==== Media Queries ==== */

@media (max-width: 767px) {
  body .col-rv > .inner {
    flex-direction: column-reverse !important;
  }

  body .c-section > .inner {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  body .c-section .c-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  body .c-section.btn-element-center .c-button {
    text-align: center !important;
  }

  /* ==== Start Mobile Nav ==== */

  body .mega-menu-container {
    z-index: 9999 !important;
    width: 100% !important;
    height: 100% !important;
    left: unset !important;
    right: 0px !important;
    top: 0px !important;
    background: #ffffff00 !important;
    border-radius: 15px !important;
    padding: 0px 10px !important;
    justify-content: space-between !important;
  }

  #preview-container .header-sec .mega-menu-container > div:nth-child(1) {
    max-width: 400px !important;
  }

  body .c-nav-menu-v2 .nav-menu-mobile span {
    width: 30px !important;
    height: 30px !important;
    background-color: transparent !important;
    border-radius: 3px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
  }

  body .c-nav-menu-v2 .nav-menu-mobile span::before {
    font-size: 30px !important;
    color: #e74c3c !important;
  }

  .mega-menu-container .nav-menu-ul:last-child .x-icon {
    position: absolute !important;
    left: unset !important;
    right: 24px !important;
    top: 20px !important;
    width: 55px !important;
    z-index: 999 !important;
  }

  body .mega-menu-container .nav-menu-ul:last-child {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #fff !important;
  }

  body .mega-menu-container .nav-menu-ul:last-child {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    width: 100% !important;
    padding-top: 20px !important;
    border-top: none !important;
    background-color: #fff !important;
    z-index: 9999 !important;
  }

  body .mega-menu-container .nav-menu-ul:last-child li {
    display: inline-flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center !important;
    width: 100% !important;
    padding: 5px 16px !important;
    transition: all 0.3s ease-in-out !important;
    margin-bottom: 16px !important;
  }

  body
    .mega-menu-container
    .nav-menu-ul:last-child
    li:not(:first-child)
    .menu-item-title {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  /* ==== End Mobile Nav ==== */

  /* ==== Expertise Section ==== */
  #preview-container .expertise-sec .c-row > .inner {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 16px !important;
  }

  #preview-container .expertise-sec .c-row > .inner .c-column {
    flex: 1 0 calc(50% - 8px) !important;
    max-width: calc(50% - 8px) !important;
  }

  .expertise-sec .c-image-feature .img-feature-container .img-container {
    flex: 1 0 40px !important;
    max-width: 40px !important;
    margin-right: 15px !important;
    padding: 0px !important;
  }

  .expertise-sec .c-image-feature .img-feature-container .img-container > div {
    width: 40px !important;
    height: 40px !important;
  }

  .expertise-sec .c-image-feature .img-feature-container .img-container img {
    max-width: 20px !important;
  }

  body .c-form .hl-app .form-builder--wrap {
    padding: 0px !important;
  }

  body .c-form #_builder-form .button-element {
    padding: 12px 16px !important;
  }

  body .c-form #_builder-form .button-element div {
    font-size: 16px !important;
  }
}

/* ==== Page Form ==== */
body .c-form #_builder-form .fields-container {
  padding: 0 0 !important;
  margin-left: 0 !important;
  margin-right: 0px !important;
}

#_builder-form .terms-and-conditions {
  margin-top: 20px !important;
}

#_builder-form .terms-and-conditions p {
  color: #4b5563 !important;
}

#_builder-form .terms-and-conditions input[type="checkbox"] {
  accent-color: #e74c3c !important;
}
