* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

#ppc_table_container {
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  background-color: #fff;
}

#ppc_table_container .ppc_table {
  max-height: calc(100vh - 30px);
  overflow-y: auto;
}

.ppc_table {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  position: relative;
  background-color: #fff;
}

.ppc_table .collapsible {
  justify-content: flex-end;
  min-width: 100px;
}

.ppc_table.collapse .collapsible {
  display: none;
}

.collapsible:nth-child(7) {
  margin-right: 50px;
}

.ppc_table.collapse .collapsible:nth-child() {
  display: none;
}

.ppc_table_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 71px;
  gap: 10px;
}

.ppc_table_header > :nth-child(1) {
  min-width: 250px;
}

.ppc_table.collapse .ppc_table_header > :nth-child(2) {
  margin-right: 40px;
}

.ppc_table_header p {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  min-width: 100px;
  background-color: #fff;
}

.ppc_table_header p.dates {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  min-width: 70px;
  white-space: nowrap;
  position: relative;
}

.ppc_table_header p.dates::before {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 20px);
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: -1;
}

.ppc_table_header p .sort {
  cursor: pointer;
}

.ppc_table_data {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.ppc_table_data > .ppc_table_row > :nth-child(1) {
  min-width: 250px;
}

.ppc_table.collapse .ppc_table_row > :nth-child(2) {
  margin-right: 40px;
}

.ppc_table_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 11px;
  padding: 6px 0px;
  border-bottom: 1px solid #eee;
  min-height: 53px;
}

.ppc_table_row span {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  min-width: 70px;
}

.ppc_table_row span:first-child {
  justify-content: flex-start;
}

.ppc_table_row span.heatmap_cell {
  width: 100%;
  min-width: 70px;
  height: 40px;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #282727;
}

/* .ppc_utils {
  position: absolute;
  left: 5px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
} */

.ppc_utils .ppc_search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ppc_utils .ppc_search_container input {
  background-color: #fcfcfc;
  outline: none;
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-size: 13px;
  color: #111;
  font-weight: 400;
  display: inline-flex;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ppc_utils .ppc_search_container .clear_btn {
  position: absolute;
  right: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;
}

.ppc_utils .ppc_search_container .search_btn {
  background-color: #ddd;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;
  width: 28px;
  height: 28px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ppc_utils .ppc_search_container.clear_btn i {
  color: #333;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.ppc_utils .ppc_search_container .clear_btn:hover i {
  color: #555;
}

.ppc_utils .collapse_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;
}

.ppc_utils .collapse_btn i {
  color: #333;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.ppc_utils .collapse_btn:hover i {
  color: #555;
}

.ppc_utils .collapse_btn:active i {
  color: #222;
}

.ppc_utils .collapse_btn.collapsed i {
  transform: rotate(45deg);
}

.ppc_table_header {
  position: sticky !important;
  position: -webkit-sticky !important;
  position: -moz-webkit-sticky !important;
  top: 20px !important;
  background-color: #fff !important;
}

.ppc_utils {
  position: sticky !important;
  position: -webkit-sticky !important;
  position: -moz-webkit-sticky !important;
  top: 0px !important;
  background-color: #fff !important;
  z-index: 1 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 415px;
}
