._aca-dropdown-container {
  background: #263040;
  padding: 10px 5px 17px 39px;
  box-shadow: 3px -8px 15px 0 rgba(100, 100, 111, 0.2);
  border-radius: 5px;
  position: absolute;
  left: 100%;
  z-index: 99999;
  width: 100%;
  padding: 5px 0px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

._aca-dropdown-main > span:nth-child(3) {
  display: flex !important;
  align-items: center !important;
  margin-left: auto !important;
  color: #fff !important;
}

._aca-dropdown-main {
  transition: background 0.3s ease-out !important;
}

._aca-dropdown-main:hover {
  background: #1a202c;
}

._aca-dropdown-main:hover ._aca-dropdown-container {
  display: flex;
}

._aca-dropdown-container ._aca-dropdown-link {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #fff !important;
  padding: 5px 15px !important;
  transition: all 0.3s ease-out !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  width: 100% !important;
}

._aca-dropdown-container ._aca-dropdown-link:hover {
  background: #1a202c;
}
