html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden !important;
}

#preview-container .hide-preview {
  display: none !important;
}

#previewer .c-row .c-column > .inner {
  padding: 5px 5px !important;
}

#previewer .swiper-row > .inner {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

div #previewer .swiper-row > .inner .c-column {
  flex: 1 0 33% !important;
  max-width: 33% !important;
}

.mobile-preview #previewer .swiper-row > .inner .c-column {
  flex: 1 0 100% !important;
  max-width: 100% !important;
}

/* Start Button */
.btn-element {
  display: inline-flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  outline: none !important;
  cursor: pointer !important;
  box-shadow: none !important;
  position: relative;
  transition: transform 200ms ease-in-out !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.22) !important;
}

.btn-element .main-heading-group {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-element .main-heading-group .main-heading-button {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;
  z-index: 1 !important;
}

.btn-element .main-heading-group .button-icon-start {
  display: none !important;
}

.btn-element .main-heading-group .main-heading-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-element .button-icon-end {
  display: none !important;
}

.btn-element:hover {
  transform: translateY(-3px) !important;
}

/* End Button */

/* Start Max Width */

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
  margin-right: 0px !important;
}

.mr-a {
  margin-right: auto !important;
  margin-left: 0px !important;
}

.max-w-600 {
  max-width: 600px !important;
}

.max-w-950 {
  max-width: 950px !important;
}

.max-w-1200 {
  max-width: 1200px !important;
}

#preview-container .max-w-fit-content {
  max-width: fit-content !important;
}

/* Start Min Height */

body .c-section > .inner {
  max-width: 1170px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#preview-container .c-video > div {
  overflow: hidden !important;
}

/* ==== Hero Section ==== */
.hero-sec .c-image-feature .img-feature-container {
  display: flex !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.hero-sec .c-image-feature .img-feature-container .img-container {
  flex: 1 0 24px !important;
  max-width: 24px !important;
  margin-right: 10px !important;
  padding: 0px !important;
}

.hero-sec .c-image-feature .img-feature-container .txt-container {
  width: auto !important;
  padding: 0px !important;
  margin-top: 3px !important;
}

.hero-sec .c-image-feature .img-feature-container .txt-container .featureText {
  display: none !important;
}

/* ==== Get Started Section ==== */
.get-started-sec .c-image-feature .img-feature-container {
  display: flex !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.get-started-sec .c-image-feature .img-feature-container .img-container {
  flex: 1 0 62px !important;
  max-width: 62px !important;
  margin-right: 10px !important;
  padding: 0px !important;
}

.get-started-sec .c-image-feature .img-feature-container .txt-container {
  width: auto !important;
  padding: 0px !important;
}

/* ==== Media Queries ==== */

@media (max-width: 767px) {
  .col-rv > .inner {
    flex-direction: column-reverse !important;
  }

  body .c-section > .inner {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  body .c-section .c-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  body .c-button .main-heading-button {
    text-align: center !important;
    font-size: 15px !important;
  }

  /* ==== Offer Section ==== */
  body #preview-container .offer-sec .offer-row {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  /* ==== Map Section ==== */

  body #preview-container .map-sec .map-row {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  /* ==== Page Form ==== */
  body .c-form .hl-app .form-builder--wrap {
    padding: 0px !important;
  }

  body .c-form #_builder-form .button-element {
    padding: 12px 16px !important;
  }

  body .c-form #_builder-form .button-element div {
    font-size: 13px !important;
  }
}

/* ==== Page Form ==== */
body .c-form #_builder-form .fields-container {
  padding: 0 0 !important;
  margin-left: 0 !important;
  margin-right: 0px !important;
}

#_builder-form .terms-and-conditions {
  margin-top: 14px !important;
}

#_builder-form .terms-and-conditions p {
  color: #4b5563 !important;
  font-size: 13px !important;
  line-height: 16px !important;
}

#_builder-form .terms-and-conditions input[type="checkbox"] {
  accent-color: #2b75d3 !important;
  margin-top: 3px !important;
}
