html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden !important;
}

#preview-container .hide-preview {
  display: none !important;
}

#previewer .c-row .c-column > .inner {
  padding: 5px 5px !important;
}

/* Start Button */
.btn-element {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  outline: none !important;
  cursor: pointer !important;
  box-shadow: none !important;
  border: none !important;
}

.btn-element-new {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  outline: none !important;
  cursor: pointer !important;
  border: none !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-element .main-heading-group,
.btn-element-new .main-heading-group {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-element .main-heading-group .main-heading-button,
.btn-element-new .main-heading-group .main-heading-button {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;
  z-index: 1 !important;
}

.btn-element .main-heading-group .button-icon-start {
  display: inline-block !important;
  margin-right: 10px !important;
}

.btn-element-new .main-heading-group .button-icon-start {
  display: none !important;
}

.btn-element .main-heading-group .main-heading-button,
.btn-element-new .main-heading-group .main-heading-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  line-height: 1 !important;
}

.btn-element .button-icon-end {
  display: none !important;
}

/* End Button */

/* Start Max Width */

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
  margin-right: 0px !important;
}

.mr-a {
  margin-right: auto !important;
  margin-left: 0px !important;
}

.max-w-315 {
  max-width: 315px !important;
}

.max-w-480 {
  max-width: 480px !important;
}

.max-w-500 {
  max-width: 500px !important;
}

.max-w-700 {
  max-width: 700px !important;
}

.max-w-870 {
  max-width: 870px !important;
}

.max-w-1024 {
  max-width: 1024px !important;
}
/* Start Border Radius */
.br-20 {
  border-radius: 20px !important;
}

.br-25 {
  border-radius: 25px !important;
}

.br-40 {
  border-radius: 40px !important;
}

/* Start Min Height */

body .c-section > .inner {
  max-width: 1400px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* ==== Hero Section ==== */
.hero-sec .form-col {
  box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.2) !important;
  background: linear-gradient(180deg, #0680c100, #0680c166) !important;
}

.hero-sec .form-col #_builder-form {
  background-color: transparent !important;
}

.hero-sec
  #_builder-form
  .fields-container
  .form-field-wrapper:not(:nth-child(5), :nth-child(6))
  label {
  display: none !important;
}

.hero-sec #_builder-form .fields-container .form-field-wrapper textarea {
  min-width: 100% !important;
  resize: vertical !important;
  min-height: 148px !important;
  max-height: 250px !important;
}

.hero-sec
  #_builder-form
  .fields-container
  .form-field-wrapper
  input[type="checkbox"],
.hero-sec
  #_builder-form
  .fields-container
  .form-field-wrapper
  input[type="radio"] {
  accent-color: #29b2e6ff !important;
}

/* ==== Features Section ==== */
@media (max-width: 1280px) {
  .features-sec .feature-row > .inner {
    gap: 20px !important;
    flex-wrap: wrap !important;
  }

  .features-sec .feature-row > .inner .c-column {
    flex: 1 0 calc(33% - 10px) !important;
    margin-left: 0px !important;
  }
}

/* ==== Testimonials Section ==== */

.testimonials-sec .img-feature-container {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap !important;
}

.testimonials-sec .img-feature-container .img-container {
  flex: 1 0 52px !important;
  padding: 0px !important;
  max-width: 52px !important;
  margin-right: 16px !important;
}

.testimonials-sec .img-feature-container .txt-container {
  width: auto !important;
  padding: 0px !important;
}

/* ==== Media Queries ==== */

@media (max-width: 767px) {
  body .col-rv > .inner {
    flex-direction: column-reverse !important;
  }

  body .c-section > .inner {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  body .c-section .c-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* ==== Hero Section ==== */
  #preview-container .hero-sec .header-row > .inner {
    flex-direction: row !important;
  }

  #preview-container .hero-sec .header-row > .inner .c-column:nth-child(1) {
    max-width: 148px !important;
  }

  /* ==== Features Section ==== */

  .features-sec .feature-row > .inner {
    gap: 20px !important;
    flex-wrap: wrap !important;
  }

  .features-sec .feature-row > .inner .c-column {
    flex: 1 0 calc(50% - 10px) !important;
    margin-left: 0px !important;
  }

  /* ==== Testimonials Section ==== */

  .testimonials-sec .my-swiper {
    padding-bottom: 75px !important;
  }

  .testimonials-sec .swiper-slide {
    border: 1px solid #5c5c5c !important;
    padding: 20px !important;
    background-color: #7d7d7d29 !important;
  }

  .testimonials-sec .my-swiper .swiper-button-prev {
    position: absolute !important;
    left: 0px !important;
    bottom: 0px !important;
    left: unset !important;
    top: unset !important;
  }

  .testimonials-sec .my-swiper .swiper-button-next {
    position: absolute !important;
    bottom: 0px !important;
    right: 0px !important;
    left: unset !important;
    top: unset !important;
  }

  .testimonials-sec .my-swiper .swiper-button-prev,
  .testimonials-sec .my-swiper .swiper-button-next {
    width: 51px !important;
    height: 51px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #00000080 !important;
    padding: 16px !important;
    border-radius: 100px !important;
  }

  .testimonials-sec .my-swiper .swiper-button-prev:hover,
  .testimonials-sec .my-swiper .swiper-button-next:hover {
    background-color: #fff !important;
  }

  .testimonials-sec .my-swiper .swiper-button-prev:hover::after {
    background-image: url("https://storage.googleapis.com/msgsndr/7zY6dOkhxW9Xs3Ks62l3/media/676015ecf52076bc1e169272.webp") !important;
  }

  .testimonials-sec .my-swiper .swiper-button-next:hover::after {
    background-image: url("https://storage.googleapis.com/msgsndr/7zY6dOkhxW9Xs3Ks62l3/media/676015ec86d1d15688cc91c6.webp") !important;
  }

  .testimonials-sec .my-swiper .swiper-button-prev::after,
  .testimonials-sec .my-swiper .swiper-button-next::after {
    content: "" !important;
    background-image: url("https://storage.googleapis.com/msgsndr/7zY6dOkhxW9Xs3Ks62l3/media/67600fcf6876bd140de2e13c.webp") !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 25px !important;
    height: 25px !important;
  }

  .testimonials-sec .my-swiper .swiper-button-next::after {
    background-image: url("https://storage.googleapis.com/msgsndr/7zY6dOkhxW9Xs3Ks62l3/media/676011a2fb63bc64645feeb8.webp") !important;
  }

  .testimonials-sec .my-swiper .swiper-pagination-bullet {
    background-color: transparent !important;
    width: 18px !important;
    height: 18px !important;
    border: 3px solid #393939 !important;
    opacity: 1 !important;
  }

  .testimonials-sec .my-swiper .swiper-pagination-bullet-active {
    background-color: #17a9fd !important;
    border: 3px solid #ffffff !important;
  }

  /* ==== Form CSS ==== */
  #_builder-form .button-element {
    padding: 9px 15px !important;
  }

  #_builder-form .button-element > div {
    font-size: 14px !important;
  }
}

@media (max-width: 560px) {
  .features-sec .feature-row > .inner {
    gap: 20px !important;
    flex-wrap: wrap !important;
  }

  .features-sec .feature-row > .inner .c-column {
    flex: 1 0 100% !important;
    margin-left: 0px !important;
  }
}
