.hlmx-dropdown_main > p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 4px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #33b194;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  gap: 10px;
  cursor: pointer;
}

.hlmx-dropdown_container {
  position: absolute;
  top: 40px;
  left: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}

.hlmx-dropdown_main:hover .hlmx-dropdown_container {
  visibility: visible;
  opacity: 1;
}

.hlmx-dropdown_item {
  min-width: 160px;
  cursor: pointer;
}

.hlmx-dropdown_item .hlmx-dropdown_item_link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.hlmx-dropdown_item:hover .hlmx-dropdown_item_link {
  visibility: visible;
  opacity: 1;
}

.hlmx-dropdown_link {
  padding: 5px 10px;
  width: 100%;
  text-align: left;
  font-size: 13px;
  color: #111;
  letter-spacing: 1px;
  font-variant: small-caps;
  transition: all 0.3s ease-in-out;
  background-color: #e1b40b;
  font-family: "Roboto", sans-serif;
}

.hlmx-dropdown_link:hover {
  background-color: #f6c618;
}

.hlmx-dropdown_link:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.hlmx-dropdown_item_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 4px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #33b194;
  border-radius: 5px;
  letter-spacing: 1px;
  font-variant: small-caps;
  font-family: "Roboto", sans-serif;
}
