#license_buttons {
	width: 100% !important;
	height: auto !important;
	display: flex !important;
	gap: 15px !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	align-items: center !important;
	justify-content: center !important;
	max-width: 960px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

#license_buttons .license-btn {
	width: 100% !important;
	max-width: calc(33% - 20px) !important;
	display: flex !important;
	align-items: center !important;
	justify-content: flex-start !important;
	background-color: #076bb2 !important;
	box-shadow: 0 2px 10px rgb(0 0 0 / 15%) !important;
	border: none !important;
	outline: none !important;
	border-radius: 5px !important;
	text-decoration: none !important;
	padding: 10px 20px;
	min-height: 65px !important;
	cursor: pointer !important;
	transition: all 0.3s ease-in !important;
}

#license_buttons .license-btn:hover {
	background-color: #05548c !important;
}

#license_buttons .license-btn span {
	font-size: 20px !important;
	color: #fff !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;
	font-family: 'Roboto', sans-serif !important;
	display: inline-flex !important;
	margin-left: 8px !important;
}

#license_buttons .license-btn img {
	max-width: 100% !important;
	width: 25px !important;
}

@media (max-width: 900px) {
	#license_buttons {
		max-width: 700px !important;
	}

	#license_buttons .license-btn {
		width: 100% !important;
		max-width: calc(50% - 20px) !important;
	}
}

@media (max-width: 600px) {
	#license_buttons .license-btn {
		width: 100% !important;
		max-width: calc(50% - 20px) !important;
	}

	#license_buttons .license-btn span {
		font-size: 16px !important;
	}

	#license_buttons .license-btn img {
		width: 20px !important;
	}
}

.popup-body {
	top: 50% !important;
	transform: translate(-50%, -50%) !important;
}

.popup-body .closeLPModal {
	right: unset !important;
	top: -50px !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
}

@media (max-width: 480px) {
	#license_buttons .license-btn {
		width: 100% !important;
		max-width: 100% !important;
	}

	#license_buttons .license-btn span {
		font-size: 16px !important;
	}

	#license_buttons .license-btn img {
		width: 18px !important;
	}
}
