:root {
	--nav-menus-background-color: #dbf1e6 !important;
	--nav-menu-text-color: #040508 !important;
	--nav-menu-icon-color: #ffffff !important;
	--nav-hover-background-color: #131111 !important;
	--nav-hover-font-color: #ffffff !important;
	--location-switcher-background-color: #ffffff !important;
	--sidebar-agency-back-button: #00bf63 !important;
	--sidebar-backbutton-font-color: #fff;
	--sidebar-backbutton-font-size: 16px;
	--sidebar-backbutton-font-weight: 600;

	/* Cards */
	--cards-border-radius: 10px;
	--cards-boxshadow: 3px 5px 10px #13111136 !important;
	--card-header-background-color: #00bf63 !important;
	--card-header-text-color: #ffffff !important;
	--button-background-color: #00bf63 !important;
	--button-text-color: #ffffff !important;
	--tw-ring-color: #00bf63 !important;

	/* Search Opener */
	--dashboard-search-opener-bg: #fff;
	--dashboard-quick-actions-bg: #fff;
}

#app #sidebar-v2 {
	background: var(--nav-menus-background-color) !important;
}

#sidebar-v2 #sb_divider-1 {
	background: var(--nav-menus-background-color) !important;
}

#sidebar-v2 #backButtonv2 {
	background: var(--sidebar-agency-back-button) !important;
	color: var(--sidebar-backbutton-font-color) !important;
	font-weight: var(--sidebar-backbutton-font-weight) !important;
}

/* Quick action button css */
#quickActions {
	border: 1px solid var(--nav-menu-icon-color) !important;
	border-radius: 50px !important;
}

/* Search Opener */

#globalSearchOpener {
	background-color: var(--dashboard-search-opener-bg) !important;
}

#quickActions {
	background-color: var(--dashboard-quick-actions-bg) !important;
}

nav a {
	margin-top: 5px !important;
}

#sidebar-v2 .text-white,
nav .text-white,
nav span {
	--tw-text-opacity: 1;
	color: var(--nav-menu-text-color) !important;
}

#sb_agency-partners svg path,
#sb_sites svg path,
#sb_contacts svg path {
	fill: var(--nav-menu-icon-color) !important;
}
nav svg path {
	stroke: var(--nav-menu-icon-color) !important;
}

nav a.active,
nav a:hover {
	background: var(--nav-hover-background-color) !important;
}

nav a.active span,
nav a:hover span {
	color: var(--nav-hover-font-color) !important;
}

nav a.active img,
nav a:hover img {
	filter: invert(0) !important;
}

nav a#sb_launchpad:hover img,
nav a.active#sb_launchpad img {
	filter: invert(1) !important;
}

#location-switcher-sidbar-v2 {
	background: var(--location-switcher-background-color) !important;
}

#sb_other-settings {
	background: var(--nav-hover-background-color) !important;
}

#sb_my-business,
#sb_business-services,
#sb_other-settings {
	background-color: var(--nav-menus-background-color) !important;
}

#app #sb_my-business p span,
#app #sb_business-services p span,
#app #sb_other-settings p span {
	background-color: var(--nav-menus-background-color) !important;
	color: var(--nav-menu-text-color) !important;
	font-size: 12px !important;
	font-weight: 600 !important;
}

/* Card header background */
.card-group > .card,
.pmd_dashboard--appointments > .card {
	border-radius: var(--cards-border-radius) !important;
	box-shadow: var(--cards-boxshadow) !important;
}

.pmd_dashboard--appointments {
	background-color: transparent !important;
}

.card-header {
	background: var(--card-header-background-color) !important;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}

.card-header .date-time-picker > div input {
	color: var(--card-header-text-color) !important;
}

#customers .date-time-picker .field .field-input,
#dashboard .date-time-picker .field .field-input,
#opportunities .date-time-picker .field .field-input,
#stats-tab .date-time-picker .field .field-input {
	color: var(--card-header-text-color) !important;
}

#dashboard .hl_tasks-list button.dropdown-toggle,
#dashboard .hl_dashboard--sales-funnel .btn.btn-primary {
	background-color: var(--card-header-text-color) !important;
}

.card-header h2,
.card-header h3 {
	color: var(--card-header-text-color) !important;
	font-size: 26px !important;
	font-weight: 700 !important;
}

.bg-apple-500 {
	background: var(--button-background-color) !important;
	color: var(--button-text-color);
}

.focus\:outline-none:focus {
	outline: 2px solid var(--button-background-color) !important;
}
