@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
	scroll-behavior: smooth !important;
}

body {
	overflow-x: hidden !important;
}

#preview-container .hide-preview {
	display: none !important;
}

/* Start Button */
.btn-element {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
	border: none !important;
	border-radius: 0px !important;
	border: none !important;
	outline: none !important;
	padding: 10px 25px !important;
	font-family: 'Poppins', sans-serif !important;
	cursor: pointer !important;
}

.btn-element .main-heading-group {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.btn-element .main-heading-group .main-heading-button {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
}

.btn-element .main-heading-group .button-icon-start {
	display: none !important;
}

.btn-element .main-heading-group .main-heading-button {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	font-size: 16px !important;
}

.btn-element.btn-element-icon .button-icon-end {
	display: none !important;
}

/* End Button */

/* Start Font  Weight */

.font-w-300 * {
	font-weight: 300 !important;
}

.font-w-400 * {
	font-weight: 400 !important;
}

.font-w-500 * {
	font-weight: 500 !important;
}

.font-w-600 * {
	font-weight: 600 !important;
}

.font-w-700 * {
	font-weight: 700 !important;
}

.font-w-800 * {
	font-weight: 800 !important;
}

.font-w-900 * {
	font-weight: 900 !important;
}

/* Start Line Height */
.lh-35 * {
	line-height: 35px !important;
}

.lh-30 * {
	line-height: 30px !important;
}

.lh-32 * {
	line-height: 32px !important;
}

.lh-45 * {
	line-height: 45px !important;
}

/* Start Letter Spacing */
.ls--05 * {
	letter-spacing: -0.5px !important;
}

.ls--025 * {
	letter-spacing: -0.25px !important;
}

.ls--002 * {
	letter-spacing: -0.2px !important;
}

.ls--01 * {
	letter-spacing: -1px !important;
}

.ls--02 * {
	letter-spacing: -2px !important;
}

.ls-025 * {
	letter-spacing: 0.25px !important;
}

.ls-05 * {
	letter-spacing: 0.5px !important;
}

.ls-075 * {
	letter-spacing: 0.75px !important;
}

.ls-001 * {
	letter-spacing: 0.1px !important;
}

.ls-01 * {
	letter-spacing: 1px !important;
}

.ls-15 * {
	letter-spacing: 1.5px !important;
}

.ls-02 * {
	letter-spacing: 2px !important;
}

/* Start Max Width */

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.ml-auto {
	margin-left: auto !important;
}

.mr-a {
	margin-right: auto !important;
}

.max-w-200 {
	max-width: 200px !important;
}

.max-w-260 {
	max-width: 260px !important;
}

.max-w-280 {
	max-width: 280px !important;
}

.max-w-300 {
	max-width: 300px !important;
}

.max-w-360 {
	max-width: 360px !important;
}

.max-w-400 {
	max-width: 400px !important;
}

.max-w-420 {
	max-width: 420px !important;
}

.max-w-450 {
	max-width: 450px !important;
}

.max-w-440 {
	max-width: 440px !important;
}

.max-w-470 {
	max-width: 470px !important;
}

.max-w-500 {
	max-width: 500px !important;
}

.max-w-530 {
	max-width: 530px !important;
}

.max-w-590 {
	max-width: 590px !important;
}

.max-w-600 {
	max-width: 600px !important;
}

.max-w-650 {
	max-width: 650px !important;
}

.max-w-850 {
	max-width: 850px !important;
}

.max-w-900 {
	max-width: 900px !important;
}

.max-w-950 {
	max-width: 950px !important;
}

.max-w-1020 {
	max-width: 1020px !important;
}

.max-w-1040 {
	max-width: 1040px !important;
}

.max-w-1050 {
	max-width: 1050px !important;
}

.max-w-1080 {
	max-width: 1080px !important;
}

.max-w-1100 {
	max-width: 1100px !important;
}

.max-w-1150 {
	max-width: 1150px !important;
}

.max-w-1180 {
	max-width: 1180px !important;
}

.max-w-1200 {
	max-width: 1200px !important;
}

.max-w-1240 {
	max-width: 1240px !important;
}

.max-w-1290 {
	max-width: 1290px !important;
}

/* Start Min Height */

body .c-section > .inner {
	max-width: 1440px !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

/* ==== Start Hero Section ==== */

/* ==== End Hero Section ==== */

/* Testimonial */
.testimonial .testimonial-row .c-image-feature .img-feature-container {
	display: flex !important;
	align-items: center !important;
	flex-wrap: nowrap !important;
}

.testimonial
	.testimonial-row
	.c-image-feature
	.img-feature-container
	.img-container {
	flex: 1 0 60px !important;
	margin-top: 0px !important;
	max-width: 60px !important;
	padding-left: 0 !important;
}

.testimonial
	.testimonial-row
	.c-image-feature
	.img-feature-container
	.txt-container {
	width: auto !important;
}

.testimonial .swiper-wrapper {
	align-items: stretch !important;
}

.testimonial .testimonial-row .swiper-slide {
	border-radius: 10px !important;
	border: 1px solid #213f4e !important;
	background: rgba(255, 255, 255, 0.05) !important;
	padding: 30px !important;
	height: auto !important;
	display: flex !important;
	align-items: stretch !important;
}

.testimonial .testimonial-row .swiper-slide > div {
	height: auto !important;
	display: flex !important;
	flex-direction: column !important;
}

.testimonial .testimonial-row .swiper-slide .c-paragraph > div {
	padding-left: 14px !important;
	position: relative !important;
}

.testimonial .testimonial-row .swiper-slide .c-paragraph > div::before {
	content: '' !important;
	position: absolute !important;
	top: 5px !important;
	width: 12px !important;
	left: 0 !important;
	height: 12px !important;
	background-image: url('https://storage.googleapis.com/msgsndr/AdSoyV6JsHednXYQIbMg/media/64fc2ee2c42c8155c1a5c29e.svg+xml') !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-position: center center !important;
}

.testimonial .testimonial-row .swiper-slide .c-paragraph > div::after {
	content: '' !important;
	position: absolute !important;
	bottom: 5px !important;
	width: 12px !important;
	right: -10px !important;
	height: 12px !important;
	background-image: url('') !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-position: center center !important;
}

.testimonial .testimonial-row .swiper-slide .c-divider {
	margin-top: auto !important;
}

.testimonial .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	flex-shrink: 0;
	border-radius: 50px;
	background: #ffffff00;
	border: 1px solid #78c6e8;
}

.testimonial .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #78c6e8;
}

/* Footer */
.footer .c-button {
	flex: 1 0 45px !important;
	max-width: 45px !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.footer .c-button .media-link {
	width: 40px !important;
	height: 40px !important;
	background-color: #fff !important;
	border: 2px solid #000 !important;
	border-radius: 50% !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding: 0 !important;
	transition: opacity 0.2s ease-in-out !important;
}

.footer .c-button .media-link .main-heading-group {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.footer .c-button .media-link .main-heading-group * {
	color: #000 !important;
	font-size: 16px !important;
	margin-right: 0 !important;
}

.footer .c-button .media-link .main-heading-button,
.footer .c-button .media-link .button-icon-end {
	display: none !important;
}

.footer .c-button .media-link:hover {
	opacity: 0.75 !important;
}

@media (max-width: 768px) {
	/*  padding*/

	.col-rv > .inner {
		flex-direction: column-reverse !important;
	}

	.padding-t-m-0 {
		padding-top: 0px !important;
	}

	.padding-t-m-20 {
		padding-top: 20px !important;
	}

	.padding-t-m-30 {
		padding-top: 30px !important;
	}

	.padding-t-m-40 {
		padding-top: 40px !important;
	}

	.padding-t-m-50 {
		padding-top: 50px !important;
	}

	.padding-t-m-60 {
		padding-top: 60px !important;
	}

	.padding-t-m-70 {
		padding-top: 70px !important;
	}

	.padding-t-m-80 {
		padding-top: 80px !important;
	}

	.padding-t-m-160 {
		padding-top: 160px !important;
	}

	/* padding bottom start*/

	.padding-b-m-20 {
		padding-bottom: 20px !important;
	}

	.padding-b-m-30 {
		padding-bottom: 30px !important;
	}

	.padding-b-m-40 {
		padding-bottom: 40px !important;
	}

	.padding-b-m-50 {
		padding-bottom: 50px !important;
	}

	.padding-b-m-60 {
		padding-bottom: 60px !important;
	}

	.padding-b-m-70 {
		padding-bottom: 70px !important;
	}

	.padding-b-m-80 {
		padding-bottom: 80px !important;
	}

	.padding-b-m-90 {
		padding-bottom: 90px !important;
	}

	/* Start  margin   */

	.margin-t-m-0 {
		margin-top: 0px !important;
	}

	.margin-t-m-10 {
		margin-top: 10px !important;
	}

	.margin-t-m-15 {
		margin-top: 15px !important;
	}

	.margin-t-m-20 {
		margin-top: 20px !important;
	}

	.margin-t-m-30 {
		margin-top: 30px !important;
	}

	.margin-t-m-40 {
		margin-top: 40px !important;
	}

	.margin-t-m-50 {
		margin-top: 50px !important;
	}

	.margin-t-m-60 {
		margin-top: 60px !important;
	}

	.margin-t-m-70 {
		margin-top: 70px !important;
	}

	.margin-t-m-100 {
		margin-top: 100px !important;
	}

	.margin-t-m-120 {
		margin-top: 120px !important;
	}

	.margin-b-m-0 {
		margin-bottom: 0px !important;
	}

	.margin-b-m-10 {
		margin-bottom: 10px !important;
	}

	.margin-b-m-20 {
		margin-bottom: 20px !important;
	}

	.margin-b-m-30 {
		margin-bottom: 30px !important;
	}

	.margin-b-m-40 {
		margin-bottom: 40px !important;
	}

	body .c-section > .inner {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}

	body .c-section .c-row {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	body .c-section.btn-element-center .c-button {
		text-align: center !important;
	}

	body .c-section.title-element-center .c-heading *,
	body .c-section.title-element-center .c-sub-heading * {
		text-align: center !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	body .c-section.para-element-center .c-paragraph * {
		text-align: center !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	body .c-section.d-center .c-divider * {
		text-align: center !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	body .c-section.img-left .c-image .image-container {
		text-align: left !important;
	}

	.btn-element {
		min-height: 55px !important;
	}

	.custom-button {
		margin-bottom: 0 !important;
		justify-content: center !important;
	}

	body .hero .c-row .c-column > .form-col {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}
