html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden !important;
}

#preview-container .hide-preview {
  display: none !important;
}

#previewer .c-row .c-column > .inner {
  padding: 5px 5px !important;
}

#previewer .swiper-row > .inner {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

div #previewer .swiper-row > .inner .c-column {
  flex: 1 0 33% !important;
  max-width: 33% !important;
}

.mobile-preview #previewer .swiper-row > .inner .c-column {
  flex: 1 0 100% !important;
  max-width: 100% !important;
}

#previewer .swiper-row > .inner {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

div #previewer .c-column.horizontal-col > .inner {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

div #previewer .c-column.horizontal-col > .inner > div {
  flex: 1 0 33% !important;
  max-width: 33% !important;
}

.mobile-preview #previewer .c-column.horizontal-col > .inner > div {
  flex: 1 0 100% !important;
  max-width: 100% !important;
}

.--mobile .c-nav-menu-v2 .nav-menu-desktop {
  background-color: #000 !important;
}

/* Start Button */
.btn-element {
  display: inline-flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  outline: none !important;
  cursor: pointer !important;
  box-shadow: none !important;
  border: none !important;
  transition: background-color 300ms ease !important;
}

.btn-element .main-heading-group,
.btn-element-new .main-heading-group {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-element .main-heading-group .main-heading-button {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;
  z-index: 1 !important;
}

.btn-element .main-heading-group .button-icon-start {
  display: none !important;
}

.btn-element .main-heading-group .main-heading-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  line-height: 1 !important;
}

.btn-element .button-icon-end {
  display: none !important;
}

.btn-element .text-xs.font-sans {
  margin-top: 5px !important;
}
/* End Button */

/* Start Max Width */

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
  margin-right: 0px !important;
}

.mr-a {
  margin-right: auto !important;
  margin-left: 0px !important;
}

.max-w-250 {
  max-width: 250px !important;
}

.max-w-300 {
  max-width: 300px !important;
}

.max-w-800 {
  max-width: 800px !important;
}

/* Start Border Radius */
.br-20 {
  border-radius: 20px !important;
}

.br-25 {
  border-radius: 25px !important;
}

.br-40 {
  border-radius: 40px !important;
}

/* Start Min Height */
.border-left-5 {
  border: none !important;
  border-left: 5px solid #8b5a96 !important;
}

body .c-section > .inner {
  max-width: 1170px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#preview-container .c-video > div {
  overflow: hidden !important;
}

/* ==== Start What Section ==== */
#preview-container .what-sec .check-p p {
  position: relative !important;
  padding-left: 24px !important;
}

#preview-container .what-sec .check-p p:not(:last-child) {
  margin-bottom: 5px !important;
}

#preview-container .what-sec .check-p p::before {
  content: "✓" !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #474747 !important;
  font-family: "Montserrat", sans-serif !important;
}

/* ==== Media Queries ==== */

@media (max-width: 767px) {
  body .col-rv > .inner {
    flex-direction: column-reverse !important;
  }

  body .c-section > .inner {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  body .c-section .c-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* ==== GHL Form ==== */
  body .c-form .hl-app .form-builder--wrap {
    padding: 0px !important;
  }

  body .c-form #_builder-form .button-element {
    padding: 10px 16px !important;
  }

  body .c-form #_builder-form .button-element div {
    font-size: 16px !important;
  }

  #_builder-form .terms-and-conditions p {
    font-size: 13px !important;
  }
}

/* ==== Page Form ==== */
body .c-form .hl-app .form-builder--wrap {
  padding: 0px !important;
}

body .c-form #_builder-form .fields-container {
  padding: 0 0 !important;
  margin-left: 0 !important;
  margin-right: 0px !important;
}

#_builder-form .terms-and-conditions p {
  color: #707070 !important;
}

#_builder-form .terms-and-conditions input[type="checkbox"] {
  accent-color: #cba09f !important;
}
